@{
    ViewBag.Title = "menu";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="header">
                <ul class="nav nav-pills pull-right">
                  <li class="active"><a href="#">Inicio</a></li>
                  <li><a href="#">Cajeros</a></li>
                  <li><a href="#">Actualizacion</a></li>
                  <li><a href="#">Eliminar</a></li>
                </ul>	    
                <img alt="" src="@Url.Content("~/Css/images/logo2.jpg")" style="width: 50px; height:50px;"/> 
                <span class="text-muted titulo">Sistema Recauda</span>
        </div>
    </div>
</div>
